.h_p_filter1_filter1 {
  display: flex;
  padding-left: 0px !important;
}

.a_j_keywords {
  width: calc(100% - 60px);
  font-size: 14px;
  font-family: muli-light;
  line-height: 20px;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: url(/static/media/search2.036b2983.png), #fff;
  appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: calc(100% - 15px);
  margin-bottom: 20px;
}

.h_p_filter1_dropdown1 {
  width: 11px;
  float: right;
  margin-right: 15px;
  margin-top: 8px;
}

.h_p_dropdown_selected1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.a_j_select_dropdown {
  font-family: muli-light;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 40px 10px 18px;
  width: 100%;
  margin-right: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  height: 40px;
  background: url(/static/media/dropdown-bottom.21fac4fd.svg), #fff;
  appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: calc(100% - 15px);
  color: #b2b2b2;
}

#a_j_select_dropdown1 {
  margin-bottom: 20px;
}
.h_p_filter1_title1 {
  font-family: muli-bold;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 16px;
  cursor: pointer;
}
#j_l_backBtn {
  margin-left: 95%;
  font-family: muli-light;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  margin-bottom: 25px;
  cursor: pointer;
}
#j_l_backBtn:hover{
  color: #00e7fc;
}
.j_l_container {
  background: #ffffff padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 42px;
  margin-top: 20px;
}

.j_l_title {
  font-family: muli-bold;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 5px;
  word-break: break-word;
}

.j_l_producer {
  font-size: 16px;
  font-family: muli-regular;
  line-height: 25px;
}

.j_l_right {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding-top: 17px;
}

.j_l_applyJobBtn {
  padding: 9px 59px;
  font-family: muli-bold;
  font-size: 14px;
  line-height: 20px;
  background: transparent linear-gradient(290deg, #4ffea3 0%, #00e7fc 100%) 0%
    0% no-repeat padding-box;
  border-radius: 23px;
  border: 1px solid #00e7fc;
  cursor: pointer;
  margin-right: 20px;
}

.j_l_applyJobLoginBtn {
  padding: 7px 15px;
  font-family: muli-bold;
  font-size: 14px;
  line-height: 20px;
  background: transparent linear-gradient(290deg, #4ffea3 0%, #00e7fc 100%) 0%
    0% no-repeat padding-box;
  border-radius: 23px;
  border: 1px solid #00e7fc;
  cursor: pointer;
  margin-right: 20px;
  margin: auto;
}

.j_l_applyJobBtn:hover{
  background: white
}

.j_l_applyJobLoginBtn:hover{
  background: white
}

.j_l_titleHead {
  font-size: 25px;
  font-family: muli-bold;
  line-height: 26px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1200px) {
  .j_l_applyJobBtn {
    padding: 10px 45px;
  }
}

@media only screen and (max-width: 1000px) {
  .j_l_applyJobBtn {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .a_j_keywords {
    width: calc(100%);
  }
}

@media only screen and (max-width: 567px) {
  .j_l_applyJobBtn {
    padding: 10px 12px;
  }
  .a_j_keywords {
    width: calc(100%);
  }
}

.h_p_filterTitle {
  font-size: 16px;
  font-family: muli-bold;
  line-height: 24px;
  margin-bottom: 5px;
}
.h_p_filterText {
  font-size: 15px;
  font-family: muli-light;
  line-height: 22px;
  margin-bottom: 25px;
}
.h_p_filterText1 {
  font-size: 15px;
  font-family: muli-light;
  line-height: 22px;
}

.j_l_desc{
  font-size: 14px;
  font-family: muli-light;
  line-height: 22px;
  margin-bottom: 20px;
}
.j_l_containerMain{
  background: #F8F8FB;
}

.a_j_more_filter{
  font-family: muli-bold;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

button{
  cursor: pointer;
}

textarea{
  resize: none
}

.a_j_popup_title{
  font-size: 30px;
  font-family: muli-bold;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.a_j_popup_content{
  font-size: 18px;
  font-family: muli-light;
  margin-bottom: 33px;
  width: 100%;
  text-align: center;
}