.g_f_filter{
  border-radius: 20px;
  margin: 10px 0;
  width: 100%;
  background:url('../images/s_c_dropdown2.png'), rgb(243, 243, 243);
  appearance:none;
	-webkit-appearance:none;
	background-repeat:no-repeat;
  background-size: 15px;
  border: 0;
  background-position: 92%;
  padding: 13px 20px;
}

.g_f_filter_selected{
  border-radius: 20px;
  margin: 10px 0;
  width: 100%;
  background:url('../images/s_c_dropdown3.svg'), rgb(243, 243, 243);
  appearance:none;
	-webkit-appearance:none;
	background-repeat:no-repeat;
  background-size: 15px;
  border: 0;
  background-position: 92%;
  padding: 13px 20px;
}

.g_f_filter option span{
  padding: 10px;
}

.g_f_btn1{
  color: #041D1F !important;
  background: transparent linear-gradient(121deg, #00E7FC 0%, #4FFEA3 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px !important;
  font-weight: bold !important;
  border: 1px solid #00fcef;
  box-shadow: none !important;
  text-transform: none !important;
  outline: none;
  padding: 11px 0 11px 0;
  width: 100%;
  font-family: muli-light;
  cursor: pointer;
}

.g_f_dropdown_icon{
  float: right;
  padding: 2px 30px;
}

.g_f_dropdown_selected{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.file_figcaption{
  visibility: hidden;
}