#service_centers{
  background-color: rgb(243, 243, 243);
  padding-top: 30px;
}

.service_center_filter{
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
  padding: 11px 0 11px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.s_c_dropdown_title{
  font-size: 15px;
  font-family: muli-bold;
  margin-bottom: 10px;
}

.s_c_button1{
  color: #041D1F !important;
  background: transparent linear-gradient(121deg, #00E7FC 0%, #4FFEA3 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px !important;
  font-family: muli-bold;
  border: 1px solid #00fcef;
  box-shadow: none !important;
  text-transform: none !important;
  outline: none;
  padding: 11px 0 11px 0;
  width: 100%;
  cursor: pointer;
}

.s_c_button2{
  color: #041D1F !important;
  background: transparent linear-gradient(121deg, #00E7FC 0%, #4FFEA3 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px !important;
  border: 1px solid #00fcef;
  box-shadow: none !important;
  text-transform: none !important;
  outline: none;
  padding: 5px 25px;
  font-family: muli-bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 55px;
  float: left;
  margin-right: 17px;
}

.s_c_button3{
  color: #041D1F !important;
  background: transparent linear-gradient(121deg, #00E7FC 0%, #4FFEA3 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px !important;
  border: 1px solid #00fcef;
  box-shadow: none !important;
  text-transform: none !important;
  outline: none;
  padding: 5px 25px;
  font-family: muli-bold;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
}

.s_c_button3:hover{
  background: white;
}

#service_centers button:hover{
  background: white;
}

.s_c_list_title{
  font-size: 20px;
  font-family: muli-bold;
}

.s_c_location{
  text-align: right;
  font-size: 15px;
  font-family: muli-bold;
  padding-top: 10px;
  width: fit-content;
  float: right;
}

#service_centers ul {
  padding-inline-start: 0px !important;
}

.service_center_list{
  background-color: white;
  padding: 15px 25px 10px 25px;
  margin-bottom: 30px !important;
  border-radius: 20px;
}

.service_center_list img {
  border-radius: 100%;
  display: block;
  margin-right: 20px;
}

.service_center_name{
  display: inline-block;
  font-size: 17px !important;
  line-height: 30px;
  font-family: muli-bold;
  cursor: pointer;
}

.service_center_rating_md_xl{
  cursor: default;
  float: right;
}

.star_checked{
  color: #FFCC00;
  font-size: 20px !important;
  padding: 2px;
}

.star_unchecked{
  color: rgb(201, 201, 201);
  font-size: 20px !important;
  padding: 2px;
}

.rating_request_xs_sm{
  cursor: default;
  width: fit-content;
  margin-left: 75px
}

.s_c_other_details{
  font-size: 14px;
  line-height: 20px;
}

.s_c_dropdown_icon{
  float: right;
  padding: 2px 15px;
}

.s_c_other_details_title{
  font-family: muli-bold;
  font-size: 14px;
  line-height: 25px;
  margin-left: 55px;
  margin-top: 10px;
}

.s_c_other_details_content{
  font-size: 14px;
  font-family: muli-regular;
  margin-left: 55px;
  line-height: 25px;
}

.s_c_profile_container{
  float: left;
}

.s_c_dropdown_selected{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.s_c_dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 500px;
  overflow: auto;
}

.s_c_dropdown-content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.s_c_dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.s_c_dropdown-content li:hover {background-color: #f1f1f1}

.s_c_dropdown_content_selected {
  display: block;
}

/* #s_c_list_title{
  position: sticky;
  top: 75px;
  z-index: 3;
  background-color: rgb(243, 243, 243);
} */

.s_c_review_link{
  font-size: 12px !important;
  font-family: muli-regular;
}

.rating_request_md_xl{
  float: right;
  text-align: center;
  text-decoration: underline;
}

.s_c_other_details_phone{
  color: #10B2C0 !important;
  cursor: pointer;
}

.s_c_other_details_phone:hover{
  color: #8bdcff !important;
}

.s_c_share{
  border-radius: 0% !important;
  margin-left: auto;
  height: 20px;
  width: 20px;
  margin-top: 7px;
}

.s_c_enquiry_input{
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(202, 202, 202);
  margin-bottom: 5px;
  padding: 0 20px;
}

.s_c_enquiry_textarea{
  width: calc(100% - 40px);
  height: 150px;
  border-radius: 15px;
  border: 1px solid rgb(202, 202, 202);
  padding: 10px 20px;
}

.s_c_enquiry_title{
  font-family: muli-bold;
  line-height: 30px;
}

#s_c_enquiry_heading{
  margin: 10px 0;
}

.s_f_form_img_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.s_c_list_btn_container{
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

.s_c_list_btn{
  font-family: muli-bold;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 21px;
  background: #00E7FC;
  border-radius: 20px;
  border: 1px solid #00E7FC;
  cursor: pointer;
}

.s_c_list_btn:hover{
  background: white;
}

.phone_form_title{
  font-size: 25px;
  font-family: muli-bold;
  line-height: 36px;
  margin-bottom: 10px;
  width: 100%;
}

.phone_form_desc{
  font-size: 16px;
  font-family: muli-regular;
  line-height: 24px;
  margin-bottom: 20px;
  width: 100%;
}

.phone_form_label{
  font-size: 16px;
  font-family: muli-bold;
  line-height: 24px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
}

.phone_form_input{
  height: 40px;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  padding: 0px 20px;
  background-color: white;
  width: calc(100% - 40px);
  font-size: 14px;
  font-family: muli-light;
  width: 100%;
}

.phone_form_btn{
  background: transparent linear-gradient(73deg, #00E7FC 0%, #4FFEA3 100%) 0% 0% no-repeat padding-box;
  padding: 8px 48px;
  font-size: 16px;
  font-family: muli-regular;
  border: 0px;
  border-radius: 20px;
}

.phone_form_btn_container{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.phone_form_phone .PhoneInputInput{
  background-color: white;
}

.phone_form_input_error_msg{
  font-size: 14px;
  font-family: muli-light;
  color: #f00;
  visibility: hidden;
}

.service_center_brand_list{
  display: inline-block;
}

.s_c_search_filter_container{
  width: 75%;
  border: 1px solid grey;
  height: 50px;
  margin-bottom: 30px !important;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
}

.s_c_filter_container{
  height: 100%;
  width: calc(25% - 41px);
  float: left;
  border-right: 1px solid grey;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: muli-bold;  
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #4FFEA3;
}

.s_c_Search_container{
  height: 100%;
  width: 75%;
  float: left;
}

.s_c_Search{
  height: 100%;
  width: calc(100% - 80px);
  border: 0;
  padding: 0px 60px 0px 20px!important;
  font-size: 18px;
  font-family: muli-regular;
}

@media only screen and (max-width: 992px) {
  .s_c_Search{
    width: 110%;
  }
}

.s_c_Search:hover{
  border: 0 !important;
}

.s_c_Search:focus{
  border: 0 !important;
}

.s_c_filters_list{
  width: 400px;
  max-height: 400px;
  position: absolute;
  top: 52px;
  left: 12%;
  z-index: 1000;
  border: 1px solid grey;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  overflow-y: auto;
}

.s_c_filter_brand{
  border: 1px solid grey;
  margin: 5px;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 17px;
  cursor: pointer;
  font-size: 14px;
  font-family: muli-regular;
}

.s_c_filter_brand:hover{
  opacity: 0.8;
}