.NavLink{
  color: white;
}

.NavLinkMyAccount{
  background: transparent linear-gradient(187deg, #4FFEA3 0%, #00E7FC 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #4FFEA3;
  color: black !important;
  line-height: 24px;
  padding: 5px 8px 7px 5px;
  border-radius: 18px;
}

.NavLinkMyAccount:hover{
  color: black !important;
  background: white;
}

.NavLinkUploadFile{
  background: #4FFEA3;
  border: 1px solid #4FFEA3;
  color: black !important;
  line-height: 24px;
  padding: 5px 8px 7px 15px !important;
  border-radius: 18px;
  font-family: muli-regular;
}

.NavLinkUploadFile:hover{
  color: black !important;
  background: white;
}

.NavLinkUploadFile2{
  background: #4FFEA3;
  border: 1px solid #4FFEA3;
  color: black !important;
  line-height: 24px;
  padding: 0px 8px 5px 15px !important;
  border-radius: 18px;
  font-family: muli-regular;
  margin-right: 10px;
}

.MuiIconButton-root:hover{
  background-color: rgba(0, 0, 0, 0) !important;

}

.NavLinkUploadFile2:hover{
  color: black !important;
  background: #fff;
}

.NavLinkSignupLogin{
  color: #4FFEA3;
}

.navbar{
  background: white!important;
  box-shadow: 0px 0px 8px #00000029;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(197, 197, 197);
  cursor: pointer
}

.dropdown-content:hover{
  background-color: #e0e0e0;
}