.box0{
    /* text-align: center; */
    font-size: 18px;
font-family: muli-bold;
padding: 0px 10px;

}

.box1{
    background: #FBFBFB 0% 0% no-repeat padding-box;
border: 1px solid #E8E8E8;
border-radius: 10px;
margin-top: 20px;
font-size: 18px;
font-family: muli-regular;
padding: 20px 10px;
}
.box2{
    display: none;
    margin: 5px 0px;
    border: 1px solid #9a9a9a !important;
    background: #FBFBFB 0% 0% no-repeat padding-box;
border: 1px solid #E8E8E8;
border-radius: 10px;
padding: 10px;
}
.message_title{
    margin-bottom: 10px;
    font-family: muli-regular;
}

.showMessage{
    cursor: pointer;
    text-decoration: underline;
}
.pdf_mainDiv{
    margin-top: 50px;
    max-width: 555px;
    font-size: 12px;
    padding: 20px 20px;

}
.pdf_imageDiv{
    padding: 15px;
    border: 1px solid gray
}
.pdf_iconImg{
    height: 30px;
}
.pdf_client{
    text-decoration: underline;
    text-underline-offset : 5px;   
    padding-bottom: 15px;
    font-weight: bold;
    line-height: 10px;
}
.pdf_invoiceDiv{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 15px
}
.colForDate{
    padding: 15px;
    border: 1px solid gray;
    border-top: none;
    margin-left: 15px;
}
.pdf_statusdiv{
    padding: 15px;
    border: 1px solid gray;
}
.pdf_table{
    padding: 15px;
    border: 1px solid gray;
}
.pdfHeadRow{
    font-weight: bold;
}