.r_f_save_btn{
  font-family: muli-regular;
  font-size: 16px;
  padding: 10px 50px;
  background: transparent linear-gradient(197deg, #00E7FC 0%, #4FFEA3 100%) 0% 0% no-repeat padding-box;
  border-radius: 30px;
  border: 1px solid #4ffea3;
  margin: 5px;
}

.r_f_save_btn:hover{
  background: white;
}

.r_f_cancel_btn{
  font-family: muli-regular;
  font-size: 16px;
  padding: 10px 50px;
  background: #dfdfdf;
  border-radius: 30px;
  border: 1px solid grey;
  margin: 5px;
}

.r_f_cancel_btn:hover{
  background: white;
}
