.folderTitle{
    font-family: muli-regular;
    font-size: 20px;
    margin-bottom: 10px;
}

.folderDesc{
    font-family: muli-light;
    font-size: 18px;
    height: 50px;
}
.savedPilotsDesc{
    font-family: muli-regular;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.folderDelEditContainer{
    height: 30px;
}

.folderDelEdit{
    margin: 0px 5px;
    cursor: pointer;
}

.folderDelEdit:hover{
    opacity: 0.5;
}

.savePilotFolderContainer .MuiCardContent-root:last-child {
    padding-bottom: 0px !important;
}

.savePilotFolderContainer{
    position: relative;
}

.folderDelEditBtn{
    position: absolute;
    text-align: right;
    width: 100%;
    bottom: 5px;
}