.cd_card_title{
    font-size: 16px;
    font-family: muli-bold;
    margin-bottom: 5px;
}
.cd_card_content{
    font-size: 16px;
    font-family: muli-regular;
    margin-bottom: 10px;
}

.cd_error_msg{
    text-align: center;
    font-size: 24px;
    font-family: muli-regular;
    margin-bottom: 20px;
}
.cd_error_btn{
    
    font-size: 14px;
    font-family: muli-bold;
    padding: 10px 10px;
    background-color: #00E7FC;
    border-radius: 30px;
    border: none;
}

.ce_popup_title{
    font-size: 16px;
    font-family: muli-bold;
    margin-bottom: 10px;
}
.ce_popup_title1{
    font-size: 16px;
    font-family: muli-bold;
    margin-bottom: 5px;
}

.ce_popup_data{
    font-size: 16px;
    font-family: muli-regular;
    margin-bottom: 10px;
    word-break: break-word;
}
.ce_popup_head{
    font-size: 22px;
    font-family: muli-bold;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 25px;
}